<?php
    $host = 'localhost';
    $db = 'hackathon';
    $user = 'root';
    $password = 'root';
    $dbh = new PDO('mysql:host=' . $host . ';dbname=' . $db, $user, $password);
    $dbh->query('set names utf8');
?>